/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    min-height: 200vh;
    padding-bottom: 60px;
    height: 100%;
}




@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .menu li {
        font-size: 0.8rem;
    }

    .social-links img {
        width: 20px;
        height: 20px;
    }
}






header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 20px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}



.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #495057;
    border-radius: 5px;
}



.options {
    display: flex;
    gap: 10px;
}

select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

footer {
    background-color: #343a40;
    color: #fff;
    /*text-align: center;*/
    /*padding: 0px 10px;*/
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
}




.footer-content-info {
    margin: 0px 0;  
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.footer-content-sociallinks {
    display: flex;
    cursor: pointer;
    gap: 20px;
}

.social-links {
    padding: 0;
    display: flex;
    margin: 0;
    list-style: none
}

.social-links li {
    margin-right: 30px;
}

.social-links a:hover{
    color: #00d1ff;
}

.social-links img {
    width: 32px;
    height: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1416px;
    height: 100%;
    padding: 60px;
    
}

.card {
    display: flex;
    align-items: center;
    /*background: linear-gradient(to right, rgba(0, 112, 255, 0.9), (rgba(0, 112, 255, 0.6)));*/
    border-radius: 20px;
    padding: 30px;
    color: white;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 7);
    position: relative;  
    background-color: #343a40;
    justify-content: center;
    
}

.content {
    flex: 1;
    padding: 20px;
}

.content .logo {
    width: 50px;
    height: auto;
    color: white;
    position: relative;
}

.content h1 {
    font-size: 2.5rem;
    text-decoration: none;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-decoration: none;
}

.content ul {
    list-style: none;
    padding-left: 20px;
    text-decoration: none;
}

.content ul li {
    margin: 7px 0;
    position: relative;
    text-decoration: none;
}

.content ul li::before {
    content: "▶";
    position: absolute;
    left: -15px;
    color: white;
}

.person {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    columns: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Стили для ссылок-кнопок */
.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}







/* Стили для карусели */
.carousel {
    position: relative;
    max-width: 50%;
    height: 600px; /* Установите нужную высоту */
    margin: 10px auto;
    overflow: hidden; /* Скрываем лишние слайды */
    border-radius: 10px;
}

.carousel-container {
    display: flex; /* Располагаем слайды в ряд */
    transition: transform 0.5s ease-in-out; /* Плавный переход */
}

.carousel-slide {
    min-width: 100%; /* Каждый слайд занимает всю ширину контейнера */
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%; /* Изображение занимает всю ширину слайда */
    height: 100%;
    object-fit: cover; /* Обрезка изображений, чтобы они не искажались */
    border-radius: 10px;
}

/* Кнопки для навигации */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

